.eachEmployee{
    width: 13rem;
    height: 13rem;
    margin: 0.5rem 0rem;
    position: relative;
}
.eachEmployee:hover{
    cursor: pointer;
}
.eachEmployee>img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    /* filter: blur(3px); */
    /* padding: 2rem 0; */
}
.eachEmployee>h3{
    color: #323337;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    text-align: center;
    background-color: rgba(184,167,193, 0.4);
    font-weight: bold;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}