.eachmyevent{
    width: 10rem;
    height: 6rem;
    margin: 0.5rem 0rem;
    padding: 2rem 0rem;
    border: 1px solid hsl(228, 5%, 21%);
    border-radius: 1rem;
    border-color: rgb(184,167,193);
}
.eachmyevent:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.5s linear;
}
.myeventsdesc{
    color: #323337;
    width: 100%;
    text-align: center;
}
.addEvent{
    font-size: 1.7rem;
    padding: 1.5rem 0;
}
