.aboutUs1{
    width: 50%;
    margin: 0 auto;
    background-color: #B8A7C1;
    margin-top: 2rem;
}
.aboutUs{
    margin:1rem auto;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}