.headerDiv{
    margin-top: -104px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    position: fixed;
    z-index: 10000;
    background-color: #323337;
    /* #35363A   7A757D */
}
.headerDiv img{
    width: 23.3rem;
}
.headerDiv img:hover{
    cursor: pointer;
}
.headerDiv ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 37.2rem;
    color: #B8A7C1;
}
.headerDiv li{
    font-size: 1.15rem;
    padding: 1.04rem;
    background-color: #323337;
}
.headerDiv li:hover{
    cursor: pointer;
}
.withAnimation {
    display: inline-block;
    text-decoration: none;
}

.withAnimation::after {
    content: '';
    display: block;
    width: 0;
    height: 1.5px;
    background: #B8A7C1;
    transition: width .3s;
}

.withAnimation:hover::after {
    width: 100%;
    transition: width .3s;
}
